.main-section__events {
    background-color: orange;
    height: 100%;
}

.main-section__event {
    display: inline-block;
    padding: 50px;
}

.highlighted {
    border:5px solid #fa9323;
}

p.active {
    color: #521514;
    font-weight: bold;
}