.location__items {
    width: 100%;
}

.location__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.search {
    width: 40%;
}

.view {
    width: 60%;
}

.section-title {
    text-align: center;
}

.filter {
    width: 40%;
}

.submit-footer {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.request-offer {
    width: 110px;
    height: 50px;
}
