.main-search__container {
    border: 3px solid #fa9323;
    height: 400px;
}

.main-search__component {
    text-align: left;
    margin-left: 20px;
}

.main-search__component button {
   margin: 20px 0px;
}

.main-location__dropdown {
    width: 68%;
}